.heading1, .heading2, .heading3 {
    color: #FF7600;
    font-weight: bold;
}
.heading1 {
    font-size: 32px;
    line-height: 60px;
    height: 60px;
}
.heading2 {
    font-size: 24px;
    line-height: 50px;
}
.heading3 {
    font-size: 18px;
    line-height: 40px;
}
.group {
    margin: 20px 0px;
}

.italic {
    font-style: italic;
}
.grey {
    color: #aaaaaa;
}

code {
    border-color: #aaaaaa !important;
    background-color: #444 !important;
    color: #fff;
    margin: 10px 0px !important;
    display: inline-block;
}